*{
    background-color:black;
    color: white;

}
.header{
    display: flex;
    justify-content: space-around;
    align-items: left;
}
.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container1{
    display: flex;
}
.image{
    margin-left: 300px;
    border-radius: 20px;
}
.name{
    font-size: 30;
    font-family: sans-serif;
    margin-top: 20px;
}
.margin{
    margin: 20px;
}
.about{
    margin-left: 135px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.scroll{
    margin: 30px;
}
.skills{
    margin-top: 100px;
    margin-left: 90px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: silver;
    border-radius: 10px;
}
